<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Intro VUE + Vanilla HTML CSS JS</title>
</head>
<body>
  <h1>Prova VUE</h1>

  <!-- questa sarà la nostra APP principale tramite cui VUE reseterà in contatto durante le modifiche -->
  <div id="appTodo">
    <!-- input per inserire la task da aggiungere poi alla lista dei todo 
        collegamento dell'input tramite il "v-model='todo'" -->
    <div>
      <label for="todo">Inserisci task</label>
      <input type="text" id="todo" name="todo" v-model="todo" />
    </div>
    <!-- bottone che contiene una event listener che al click scatta la funzione per aggiungere il todo alla lista 
         per aggiungere la funzione usiamo il "v.on:click='funzione()'"-->
    <button v-on:click="addTodo()">Aggiungi task!</button>

    <!-- lista che andrà a mostrare dentro una lista non ordinata i vari task usando un for di vue
         per andare a renderizzare i dati dell'array dei todo lo facciamo tramite "v-for='todo in todoList'" -->
    <ul>
      <li v-for="todo in todoList">{{todo}}</li>
    </ul>

    <!-- qui abbiamo un bottone che incrementa al click il contatore -->
    <button v-on:click="increaseCount()">incrementa</button>
    <p>{{count}}</p>
    <!-- questo p non influisce nell'incremento di +1 del count, ma solo li in quella espressione -->
    <p>{{count+1}}</p>
  </div>

  <!-- collegamento CDN CON VUE e lo script che lo utilizza -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./script.js"></script>
</body>
</html>