// titoli delle sezioni con style pallini (TYPE1)
h2.dot-title {
    position: relative;
    z-index: 0;

    /* desygn pallini prima degli h2 della pagina delle sezioni, pallino madre posizionato con absoulute, altri 2 pallini come BOX-SHADOWS */
    &::before {
        content: '';
        position: absolute;
        background-color: #FFAE46;
        left: 10px;
        top: -60px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        box-shadow:
            0 25px 0 3px #FFAE46,
            30px 25px 0 6px #FFAE46;
    }
}



h3 {
    font-size: 24px;
    font-weight: 400;
}


.highlights {
    background-color: #FFEF8B;
    font-weight: bold;
}

li::marker {
    color: red;
}