/* Ubuntu font titolo from GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* roboto font text normali from GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* -------------------------------------------------- */

body {
    background-color: rgb(242, 242, 242);
}

h1,
h2 {
    margin-top: 150px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

:root {
    /* font styles */
    --font-title: "Ubuntu", serif;
    --font-subtitle: Verdana, Geneva, Tahoma, sans-serif;
    --font-text: "Roboto", sans-serif;
}