// ds generic colors overrides
$color-background: #333333;
$color-background-contrast: #dddddd;
$color-background-soft: #f8f9fa;
$box-shadow: rgba(0, 0, 0, 0.1);
$border-color: #ccc;

// ds components colors overrides
$color-main-menu: #ffffff;

// -----------------------------------------------
// ---------- APPLICATION COLORS -----------------
// -----------------------------------------------
// color palette
$blue: #326cb4;
$blue-dark-1: #213366;
$blue-light-1: #3e82d6;
$blue-light-2: #0072e5;
$white: #ffffff;
$black: #333333;
$grey-light: #f0f3f8;
$grey: #6c757d;

// color mapping
$topbar-background-color: $blue;
$topbar-contrast-color: $white;
$topbar-subtitle-background-color: $blue-light-1;
$topbar-subtitle-contrast-color: $white;

$footer-primary-background-color: $blue;
$footer-primary-contrast-color: $white;
$footer-secondary-background-color: $blue-dark-1;
$footer-secondary-contrast-color: $white;
