.card {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-text {
    font-family: 'Titillium Web', Geneva, Tahoma, sans-serif !important;
}

// titolo per ogni categoria di card + sottotitolo nome
h2 {
    font-size: 32px;
    line-height: 40px;
}

h3.card-title {
    font-size: 28px;
    line-height: 40px;
}

/* rimuove il contenuto vuoto globalmente */
.card::after {
    content: none !important;
}