// spaziature per incastrare sezioni + ristrette
.narrow-content {
  max-width: 90%;
  margin: 0 auto 0;
}

// background globale da usare negli steps
.bg-gray {
  background-color: #EBEEF0;
}

// link span nei paragrafi
span.link,
p.link {
  color: #003799;
  cursor: pointer;
}

hr {
  color: #b5b5b5;
}

// style per le select
select {
  border: 1px solid #5C6F82 !important;
}