:host {
  /*host */
  --toast-general-border-color: var(--toast-general-border-color, #0d6efd);
  --toast-general-background-form-color: var(--toast-general-background-form-color, grey);
  --modal-general-border-color: var(--modal-general-border-color, #0d6efd);
}

// general
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.text-disabled {
  color: #5d7083;
}

.text-red-error {
  color: rgb(204, 51, 76.5);
}

.is-invalid {
  border-color: rgb(204, 51, 76.5);
}

.container-scrollable {
  overflow-x: hidden;
  height: 70vh;
  background-color: white;
}

//Breadcrum component
.breadcrumb-item {
  cursor: pointer;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-container .breadcrumb .breadcrumb-item a {
  color: black;
  font-weight: normal;
}
// Avatar
.avatar-border {
  border-color: 1px solid var(--modal-general-border-color, #0d6efd) !important;
}

//Toast
.crm-toast {
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--toast-general-background-form-color, white);
  border-color: 1px solid var(--toast-general-border-color, black);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  transition: border-color .5s ease;
  border: 3px solid transparent !important;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  padding: 10px;
  opacity: 0.9;
}

.crm-toast:hover {
  box-shadow: none;
  border-color: var(--modal-general-border-color, #0d6efd) !important;
}

.crm-alert:hover{
  box-shadow: none;
  border-color: var(--modal-general-border-color, #0d6efd) !important;
}

//Modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body{
  z-index: 100000;
  overflow-x: hidden;
  height: 70vh;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

// container assistance
.container-assistance {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

// style per le select
select{
  border: 1px solid black !important;
}

// style alle icone SVG PROVVISORIO!
.iconSvg {
  width: 32px;
  height: 32px;
}

.iconSvg image {
  width: 100%;
  height: 100%;
}